@CHARSET "ISO-8859-1";

/*
div {
	border: 1px solid black;
}
*/
body {
	background-color: #bad6fe;
}

article {
	margin: 0px 15px 30px 15px;
	padding: 10px;
	border: 2px solid #0080ff;
	border-radius: 8px;
	box-shadow: 5px 3px 3px #81b3fe;
	background-color: white;
}

article .btn {
	box-shadow: 1px 1px 1px #001637;
	font-weight: bold;
	font-size: 16px;
}

article .btn:hover {
	color: yellow;
}

article .glyphicon {
	color: #009dfe;
	font-size: 30px;
}

article .comment {
	color: #009dfe;
	font-size: 20px;
}

article .stats {
	margin: 0;
}

article .progress-bar {
	margin: auto;
}

.vcenter {
    display: flex;
    vertical-align: middle;
    float: none;
}

.home-ideapic {
	padding: 2px;
	border-radius: 8px;
	padding: 2px;
	line-height:100%;
}

aside {
	margin: 0px 10px 20px 10px;
	padding: 10px;
	border: 2px solid #0080ff;
	border-radius: 8px;
	box-shadow: 3px 1px 1px #81b3fe;
	background-color: #fef5d6;
}

.home-toppic {
	width: 100%;
}

h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 10px;
	text-align: center;
	font-family: 'Kanit', sans-serif;
	text-align: center;
	margin: 10px
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-family: 'Acme', sans-serif;
}

p {
	text-align: justify;
}

.listflo ul, .listflo li{
	display: inline;
	font-weight: bold;
	padding: 10px;
}